@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --backgroundColor: #171717;
}

body {
  color: white;
  background-color: var(--backgroundColor);
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}

nav {
  background-color: rgba(184, 184, 184, 0.3);
  padding: 4px;
  border-radius: 0px 5px;
  margin: 0 0;
  left: 0px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

nav li {
  list-style: none;
  display: inline-flex;
}

nav ul {
  margin-right: 8;
}

nav a {
  margin: 5px;
  color: white;
  font-family: "JetBrains Mono", sans-serif;
}

#titlenav {
  font-family: "JetBrains Mono", sans-serif;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

main {
  margin-left: 8px;
}

#aboutMe {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 0 auto;
}

#aboutMe #aboutMeTitle {
  display: inline-flex;
  align-items: center;
  align-content: center;
}

#titleRed {
  margin-left: 10px;
  padding: 2px;
  background-color: rgb(196, 52, 52);
}

#aboutMe .textSection {
  text-align: justify;
  margin-right: 10px;
  flex: 1;
  flex-wrap: wrap;
}

#aboutMeText {
  height: auto;
  width: 75%;
}

.picContainer {
  float: right;
  margin-right: 10px;
  height: 270px;
  width: 20%;
  max-width: 20%;
}

.picContainer img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: solid white 5px;
  border-radius: 5px;
}

#projects {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#projects h2 {
  margin-bottom: 0;
  position: relative;
  left: 10px;
}

#projects ul {
  margin-top: 0;
}

#projects li {
  font-family: "JetBrains Mono", sans-serif;
}

#projects a {
  color: white;
}

#projects a::before {
  content: "🔗";
}

#projects a:hover {
  color: wheat;
  transition: color, 1s;
}

footer{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

footer .subtitle {
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 0;
}

.skillsSymbols {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

#contact {
  font-family: "JetBrains mono", sans-serif;
  margin: 0;
  margin-left: 10px;
  margin-top: 30px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact h3 {
  margin-bottom: 0;
}

#contact p {
  margin-top: 0;
  margin-bottom: 2px;
}

#contact a {
  color: white;
}

#contact a:hover{
  color: wheat;
}

#contactSymbols {
  position: relative;
  margin-top: 10px;
  margin-left: 0px;
}

#contactSymbols a {
  color: white;
}

#contactSymbols a:hover {
  color: wheat;
  transition: color 1s;
}


/* Animação dos ícones */

.fa-html5:hover {
  color: #F06529;
  transition: color 0.5s;
}

.fa-css3-alt:hover {
  color: rgb(206, 56, 206);
  transition: color 0.5s;
}

.fa-js:hover {
  color: yellow;
  transition: color 0.5s;
}

.fa-node-js:hover {
  color: rgb(101, 168, 0);
  transition: color 0.5s;
}

.fa-python:hover {
  color: yellow;
  transition: color 0.5s;
}

/* Ajustes para dispositivos movéis */

@media only screen and (max-width: 600px) {
  #aboutMe {
    display: flex;
    flex-direction: column;
  }
  #aboutMe .textSection {
    font-size: 1.5em;
    margin-bottom: 5px;
    flex: none;
    display: flex;
    justify-content: center;
  }
  #aboutMe .picContainer {
    display: flex;
    width: 100%;
    max-width: 100%;
  }
  #aboutMe .picContainer img {
    border: 2px solid white;
  }
  

  #projects {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #projects h2 {
    font-size: 1.5em;
  }
  #projects ul li {
    font-size: 1.2em;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  footer .skillsSymbols {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}